In [1]:
#importing the libraries
import pandas as pd
import numpy as np

In [2]:
#loading the test data
df_test = pd.read_csv('Test Data.csv')

In [3]:
df_test.head()

,record_id,clientid_cr,clmbuserid_cr,conversiontime_cr,imprid_cr,adslotdimid_cr,algo_cr,audiences_cr,clickbid_cr,geodimid_cr,...,usrClusterId_cr,cityGrpDimId_cr,siteClusterIds_cr,refClusterId_cr,paid_cr,spend_cr,attributionType_cr,conversionid_cr,optimize_on_cr,bundleId_cr
0,1000,82122,1045e8b8-662e-49b3-bc4a-4af5326c8236-62kw,1620000000000,864cdaf0-cca7-4bcc-b210-a33858cf8755-1siz8,233531,38,NaN,NaN,145,...,NaN,NaN,3.337341e+17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001,75694,53a9a707-967d-4a67-8e9f-e3dd55b464e8-10wm0,1620000000000,6c44c171-9445-4e6b-856e-89bfcd0be22c-1sito,356952,20,NaN,3.1,144,...,NaN,348006.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1002,75694,53a9a707-967d-4a67-8e9f-e3dd55b464e8-10wm0,1620000000000,c00eae97-46c5-48b8-89bf-9d45628b9de3-1siz8,356952,18,NaN,3.1,144,...,NaN,348006.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1003,30431,5febd7e2-b66a-4af0-91ec-117557684188-10wrk,1620000000000,40aad66c-d2da-4635-8b5e-46aca58d2dc6-10o78,355768,21,NaN,NaN,144,...,NaN,348010.0,NaN,NaN,1.0,275.0,1.0,NaN,NaN,NaN
4,1004,30431,5febd7e2-b66a-4af0-91ec-117557684188-10wrk,1620000000000,4742d072-32ed-45bc-9ca9-5dca4a69f5b1-10onw,355768,21,NaN,NaN,144,...,NaN,348010.0,NaN,NaN,1.0,275.0,1.0,NaN,NaN,NaN

In [4]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 56 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   record_id                      455 non-null    int64
 1   clientid_cr                    455 non-null    int64
 2   clmbuserid_cr                  455 non-null    object
 3   conversiontime_cr              455 non-null    int64
 4   imprid_cr                      455 non-null    object
 5   adslotdimid_cr                 455 non-null    int64
 6   algo_cr                        455 non-null    int64
 7   audiences_cr                   369 non-null    object
 8   clickbid_cr                    305 non-null    float64
 9   geodimid_cr                    455 non-null    int64
 10  ip_cr                          455 non-null    object
 11  itemcolumbiaid_cr              455 non-null    int64
 12  itemid_cr                      455 non-null    int64
 13  position_cr                    455 non-null    int64
 14  pubclientid_cr                 455 non-null    int64
 15  refurl_cr                      408 non-null    object
 16  siteId_cr                      455 non-null    int64
 17  templateid_cr                  414 non-null    float64
 18  goalid_cr                      455 non-null    int64
 19  time_cr                        455 non-null    int64
 20  adLogType_cr                   455 non-null    int64
 21  v_cr                           455 non-null    int64
 22  allAudiences_cr                432 non-null    object
 23  pricingtype_cr                 455 non-null    int64
 24  osId_cr                        455 non-null    int64
 25  browserId_cr                   455 non-null    int64
 26  cityId_cr                      455 non-null    int64
 27  stateId_cr                     455 non-null    int64
 28  modelDimId_cr                  455 non-null    int64
 29  lookUpFrom_cr                  455 non-null    int64
 30  connTypeDimId_cr               455 non-null    int64
 31  ispDimId_cr                    455 non-null    int64
 32  countryDimId_cr                455 non-null    int64
 33  goalTypeId_cr                  455 non-null    int64
 34  conversionDurationInMillis_cr  455 non-null    int64
 35  impressionTimeInMillis_cr      455 non-null    int64
 36  clickTimeInMillis_cr           379 non-null    float64
 37  osVerDimId_cr                  455 non-null    int64
 38  uuidSource_cr                  455 non-null    int64
 39  geoGrpDimId_cr                 455 non-null    int64
 40  stateGrpDimId_cr               413 non-null    float64
 41  deviceId_cr                    76 non-null     float64
 42  uvh_cr                         0 non-null      float64
 43  uv_cr                          18 non-null     float64
 44  platformId_cr                  76 non-null     float64
 45  sdkVersion_cr                  5 non-null      object
 46  usrClusterId_cr                163 non-null    float64
 47  cityGrpDimId_cr                302 non-null    float64
 48  siteClusterIds_cr              205 non-null    float64
 49  refClusterId_cr                35 non-null     float64
 50  paid_cr                        77 non-null     float64
 51  spend_cr                       77 non-null     float64
 52  attributionType_cr             77 non-null     float64
 53  conversionid_cr                1 non-null      object
 54  optimize_on_cr                 18 non-null     object
 55  bundleId_cr                    2 non-null      float64
dtypes: float64(16), int64(31), object(9)
memory usage: 199.2+ KB

In [5]:
#Dropping all the columns which we have not used in train dataset
df_test = df_test.drop(['record_id','deviceId_cr','uvh_cr','platformId_cr','sdkVersion_cr','usrClusterId_cr','cityGrpDimId_cr',
           'paid_cr','spend_cr','attributionType_cr','conversionid_cr','optimize_on_cr','bundleId_cr',
           'stateGrpDimId_cr','ip_cr','uv_cr','siteClusterIds_cr','refClusterId_cr','clmbuserid_cr',
           'imprid_cr','audiences_cr','refurl_cr','allAudiences_cr','connTypeDimId_cr','clickbid_cr'], axis=1)

In [6]:
df_test.shape

(455, 31)

In [7]:
#checking for null values
df_test.isna().sum()

clientid_cr                       0
conversiontime_cr                 0
adslotdimid_cr                    0
algo_cr                           0
geodimid_cr                       0
itemcolumbiaid_cr                 0
itemid_cr                         0
position_cr                       0
pubclientid_cr                    0
siteId_cr                         0
templateid_cr                    41
goalid_cr                         0
time_cr                           0
adLogType_cr                      0
v_cr                              0
pricingtype_cr                    0
osId_cr                           0
browserId_cr                      0
cityId_cr                         0
stateId_cr                        0
modelDimId_cr                     0
lookUpFrom_cr                     0
ispDimId_cr                       0
countryDimId_cr                   0
goalTypeId_cr                     0
conversionDurationInMillis_cr     0
impressionTimeInMillis_cr         0
clickTimeInMillis_cr             76
osVerDimId_cr                     0
uuidSource_cr                     0
geoGrpDimId_cr                    0
dtype: int64

In [8]:
#filling the null values with median
df_test = df_test.fillna(df_test.median())

In [9]:
df_test.isna().sum()

clientid_cr                      0
conversiontime_cr                0
adslotdimid_cr                   0
algo_cr                          0
geodimid_cr                      0
itemcolumbiaid_cr                0
itemid_cr                        0
position_cr                      0
pubclientid_cr                   0
siteId_cr                        0
templateid_cr                    0
goalid_cr                        0
time_cr                          0
adLogType_cr                     0
v_cr                             0
pricingtype_cr                   0
osId_cr                          0
browserId_cr                     0
cityId_cr                        0
stateId_cr                       0
modelDimId_cr                    0
lookUpFrom_cr                    0
ispDimId_cr                      0
countryDimId_cr                  0
goalTypeId_cr                    0
conversionDurationInMillis_cr    0
impressionTimeInMillis_cr        0
clickTimeInMillis_cr             0
osVerDimId_cr                    0
uuidSource_cr                    0
geoGrpDimId_cr                   0
dtype: int64

## Load the trained model

In [10]:
import pickle

In [11]:
model = pickle.load(open('Conversion fraud in Digital Advertising.sav','rb'))

## Prediction and creating the file as mentioned in instructions

In [12]:
prediction = model.predict(df_test)

In [13]:
result = pd.DataFrame(prediction,columns=['conversion_fraud'])

In [14]:
df1 = pd.read_csv('Test Data.csv')

In [15]:
df_subm = pd.concat([df1['record_id'],result], axis=1) # creating new dataframe using ID and prediction as required

In [16]:
df_subm

     record_id  conversion_fraud
0         1000             False
1         1001             False
2         1002             False
3         1003             False
4         1004             False
..         ...               ...
450       1450             False
451       1451             False
452       1452             False
453       1453             False
454       1454             False

[455 rows x 2 columns]

In [17]:
df_subm['conversion_fraud'].value_counts()

False    445
True      10
Name: conversion_fraud, dtype: int64

In [18]:
#creating csv file
df_subm.to_csv('Conversion fraud in Digital Advertising_final_submission.csv', index=False)